{% extends 'base.html' %}

{% block title %}Food logs{% endblock %}

{% block content %}

<table class="table table-hover bg-dark-subtle  mt-0 text-center w-100">
    <tbody>
        <tr>
            {% for date in dates %}
            <td>
                <a href="?date={{ date|date:'Y-m-d' }}" class="btn btn-secondary">{{ date|date:'Y-m-d' }}</a>
            </td>
        {% endfor %}
        </tr>
    </tbody>
</table>
<div class="container mt-5">
    <h1 class="text-center mb-4">User logs of {{ user.username }}</h1>
        {% for meal_name, food_logs in food_logs_types.items  %}
            <div class="card mb-4 shadow-sm">
                <div class="card-header bg-primary text-white d-flex justify-content-between">
                    <h4>{{meal_name.capitalize  }}</h4>
                    <a href="{% url 'add_food_log' date=this_date|date:'Y-m-d' meal_type=meal_name %}">
                        <i class="bi bi-plus-circle fs-3" ></i>
                    </a>
                </div>
                <div class="card-body">
                    {% for log in food_logs %}
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <th class="w-50">Title:</th>
                                <td>{{ log.recipe_title }}</td>
                            </tr>
                            <tr>
                                <th class="w-50">Calories:</th>
                                <td>{{ log.macroelement.calories }} kcal</td>
                            </tr>
                            <tr>
                                <th>Proteins:</th>
                                <td>{{ log.macroelement.protein }} g</td>
                            </tr>
                            <tr>
                                <th>Fat:</th>
                                <td>{{ log.macroelement.fat }} g</td>
                            </tr>
                            <tr>
                                <th>Carbohydrates:</th>
                                <td>{{ log.macroelement.carbohydrates }} g</td>
                            </tr>
                        </tbody>
                    </table>
                    {% endfor %}
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Calories</th>
                                <th>Protein (g)</th>
                                <th>Fat (g)</th>
                                <th>Carbohydrates (g)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                {% for type, macros in day_macros.items %}
                                    {% if type == meal_name %}
                                        <td>{{ macros.calories }} kcal</td>
                                        <td>{{ macros.protein }} g</td>
                                        <td>{{ macros.fat }} g</td>
                                        <td>{{ macros.carbohydrates }} g</td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        {% endfor %}

</div>
{% endblock %}
