
{% extends 'auth_base.html' %}


{% block title %}Sign up{% endblock %}

{% block content %}
    <div style="background-image: url('https://static.vecteezy.com/system/resources/thumbnails/056/343/820/small/fitness-equipment-on-a-blue-textured-background-with-dumbbells-water-bottle-and-exercise-ropes-ready-for-workout-session-photo.jpeg');
            background-size: cover;
            background-attachment: fixed;
            min-height: 100vh;
            width: 100%;">

        <div class="container d-flex align-items-center justify-content-center  " style="min-height:100vh">
            <div class="card shadow" style="min-width:400px;max-width: 450px; background-color: rgba(33, 37, 41, 0.85);backdrop-filter: blur(8px);border: 1px solid rgba(255, 255, 255, 0.1);">
                <div class="card-body p-5">
                    <h5 class="card-title text-center">Register</h5>
                    <h6 class="card-subtitle text-center mb-5 ">Please enter your information</h6>
                    <form method="POST" class="mx-auto">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label class="form-label"></label>
                            <input class="form-control" id="username" placeholder="Username" type="text" name="username">
                         </div>
                        <div class="mb-3">
                            <label class="form-label"></label>
                            <input class="form-control" id="email" placeholder="Email" type="email" name="email">
                        </div>
                        <div class="mb-3">
                            <label class="form-label"></label>
                            <input class="form-control" id="password1" placeholder="Password" type="password" name="password1">
                        </div>
                        <div class="mb-5">
                            <label class="form-label"></label>
                            <input class="form-control" id="password2" placeholder="Repeat password" type="password" name="password2">
                        </div>
                        <button class="btn btn-primary w-100 mb-3" type="submit">Submit</button>
                        <div class="text-end">
                            <a href="/sign_in/" class="text-decoration-none">Already have an account?</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}